/*OPACITY*/
/*TRANSITION*/
/*TRANSFORM*/
/*FLEXBOX*/
/*BORDER RADIUS*/
/*BOX SHADOW*/
/*BOX SIZING*/
/*FILTER*/
/* BREAKPOINT */
/*OPACITY*/
/*TRANSITION*/
/*TRANSFORM*/
/*FLEXBOX*/
/*BORDER RADIUS*/
/*BOX SHADOW*/
/*BOX SIZING*/
/*FILTER*/
/* BREAKPOINT */
/* CUSTOM VARIABLE */
/* BASE VARIABLE */
/* FONT-FAMILY */
/* PLEASE INCLUDE IN CSS OR HTML FROM GOOGLE FONT */
/* Quicksand */
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
/* gotham */
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Quicksand:300,400,500,600,700&display=swap");
@font-face {
  src: local("Gotham Bold"), url("../font/GothamBold.ttf") format("ttf");
  font-family: 'Gotham Bold';
}

/* FONT SIZE */
/* PLEASE SET ALL FONT-SIZE WITH PERCENT 
   EXCEPT FONT-SIZE WITHOUT ACTION CHANGE FONT-SIZE
   EXAMPLE : [ font-size: pxtopercent(16); ] 
*/
/* RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1.5;
}

ul, ol, li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.h1, .h2, .h3, h1, h2, h3 {
  margin: 0;
  padding: 0;
}

.h4, .h5, .h6, h4, h5, h6 {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
  text-decoration: none;
}

a:focus {
  color: inherit;
  text-decoration: none;
}

.bold {
  font-weight: bold;
}

.bg-set {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

/* OPACITY & HOVER UNDERLINE */
.hvO {
  -webkit-transition: 0.15s ease opacity;
  -moz-transition: 0.15s ease opacity;
  -ms-transition: 0.15s ease opacity;
  -o-transition: 0.15s ease opacity;
  transition: 0.15s ease opacity;
}

.hvO:hover {
  opacity: 0.7;
  filter: alpha(opacity=70);
}

.hvU:hover {
  text-decoration: underline;
}

/* CONTAINER */
.bigCont {
  width: 100%;
  margin: 0 5%;
}

@media screen and (max-width: 1200px) {
  .bigCont {
    width: 90%;
    margin: 0 5%;
  }
}

.cont {
  width: 1088px;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  .cont {
    width: 90%;
    margin: 0 5%;
  }
}

/* SECTION */
.sectionPage {
  padding: 60px 0;
}

@media screen and (max-width: 480px) {
  .sectionPage {
    padding: 40px 0;
  }
}

/* Sweep To Right */
.hvr-sweep-to-right {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.hvr-sweep-to-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #1976D2;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.hvr-sweep-to-right:hover, .hvr-sweep-to-right:focus, .hvr-sweep-to-right:active {
  color: #FFFFFF !important;
}

.hvr-sweep-to-right:hover:before, .hvr-sweep-to-right:focus:before, .hvr-sweep-to-right:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  color: white;
}

/* CUSTOM VARIABLE */
/* BASE VARIABLE */
body {
  margin: 0;
  padding: 0;
  font-family: "Quicksand", sans-serif;
  color: #000000;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  font-feature-settings: "palt";
  font-size: 16px;
}

/* PLEASE SET FONT-SIZE AFTER TAG BODY WITH PERCENT */
/* base font
===============================================================*/
/*
10px = 63%   |   17px = 106%   |   28px = 175%   
11px = 69%   |   18px = 113%   |   30px = 188%
12px = 75%   |   19px = 119%   |   32px = 200%
13px = 81%   |   20px = 125%
14px = 88%   |   22px = 138%
15px = 94%   |   24px = 150%
16px = 100%  |   25px = 156%
*/
#AllBox {
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;
}

/* HEADER */
/*OPACITY*/
/*TRANSITION*/
/*TRANSFORM*/
/*FLEXBOX*/
/*BORDER RADIUS*/
/*BOX SHADOW*/
/*BOX SIZING*/
/*FILTER*/
/* BREAKPOINT */
/* CUSTOM VARIABLE */
/* BASE VARIABLE */
/* FONT-FAMILY */
/* PLEASE INCLUDE IN CSS OR HTML FROM GOOGLE FONT */
/* Quicksand */
/* gotham */
@font-face {
  src: local("Gotham Bold"), url("../font/GothamBold.ttf") format("ttf");
  font-family: 'Gotham Bold';
}

/* FONT SIZE */
/* PLEASE SET ALL FONT-SIZE WITH PERCENT 
   EXCEPT FONT-SIZE WITHOUT ACTION CHANGE FONT-SIZE
   EXAMPLE : [ font-size: pxtopercent(16); ] 
*/
/* SASS UNTUK HEADER */
#header.fixed {
  position: fixed;
}

/* NAV SP */
.navSp {
  display: none;
}

/* FOOTER */
/*OPACITY*/
/*TRANSITION*/
/*TRANSFORM*/
/*FLEXBOX*/
/*BORDER RADIUS*/
/*BOX SHADOW*/
/*BOX SIZING*/
/*FILTER*/
/* BREAKPOINT */
/* CUSTOM VARIABLE */
/* BASE VARIABLE */
/* FONT-FAMILY */
/* PLEASE INCLUDE IN CSS OR HTML FROM GOOGLE FONT */
/* Quicksand */
/* gotham */
@font-face {
  src: local("Gotham Bold"), url("../font/GothamBold.ttf") format("ttf");
  font-family: 'Gotham Bold';
}

/* FONT SIZE */
/* PLEASE SET ALL FONT-SIZE WITH PERCENT 
   EXCEPT FONT-SIZE WITHOUT ACTION CHANGE FONT-SIZE
   EXAMPLE : [ font-size: pxtopercent(16); ] 
*/
/* SASS UNTUK FOOTER */
/* MAINVISUAL */
/*OPACITY*/
/*TRANSITION*/
/*TRANSFORM*/
/*FLEXBOX*/
/*BORDER RADIUS*/
/*BOX SHADOW*/
/*BOX SIZING*/
/*FILTER*/
/* BREAKPOINT */
/* CUSTOM VARIABLE */
/* BASE VARIABLE */
/* FONT-FAMILY */
/* PLEASE INCLUDE IN CSS OR HTML FROM GOOGLE FONT */
/* Quicksand */
/* gotham */
@font-face {
  src: local("Gotham Bold"), url("../font/GothamBold.ttf") format("ttf");
  font-family: 'Gotham Bold';
}

/* FONT SIZE */
/* PLEASE SET ALL FONT-SIZE WITH PERCENT 
   EXCEPT FONT-SIZE WITHOUT ACTION CHANGE FONT-SIZE
   EXAMPLE : [ font-size: pxtopercent(16); ] 
*/
/* SASS UNTUK MAINVISUAL */
/* BREADCRUMB */
/*OPACITY*/
/*TRANSITION*/
/*TRANSFORM*/
/*FLEXBOX*/
/*BORDER RADIUS*/
/*BOX SHADOW*/
/*BOX SIZING*/
/*FILTER*/
/* BREAKPOINT */
/* CUSTOM VARIABLE */
/* BASE VARIABLE */
/* FONT-FAMILY */
/* PLEASE INCLUDE IN CSS OR HTML FROM GOOGLE FONT */
/* Quicksand */
/* gotham */
@font-face {
  src: local("Gotham Bold"), url("../font/GothamBold.ttf") format("ttf");
  font-family: 'Gotham Bold';
}

/* FONT SIZE */
/* PLEASE SET ALL FONT-SIZE WITH PERCENT 
   EXCEPT FONT-SIZE WITHOUT ACTION CHANGE FONT-SIZE
   EXAMPLE : [ font-size: pxtopercent(16); ] 
*/
/* SASS UNTUK BREADCRUMB */
/*-----BREADCRUMB-----*/
.breadcrumbPage {
  height: 45px;
  overflow: hidden;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  border: 1px dashed #a6a6a6;
  border-left: 0;
  border-right: 0;
  background-color: #FFF;
}

@media screen and (max-width: 767px) {
  .breadcrumbPage {
    display: none;
  }
}

.breadcrumbPage ul {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@media screen and (max-width: 480px) {
  .breadcrumbPage ul {
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.breadcrumbPage ul li {
  font-size: 88%;
  letter-spacing: 1px;
  color: #707070;
  margin-right: 35px;
  word-break: keep-all;
}

.breadcrumbPage ul li a img {
  height: 18px;
  position: relative;
  top: -2px;
}

.breadcrumbPage ul li a.active {
  text-decoration: underline;
}

.breadcrumbPage ul li a:hover {
  text-decoration: underline;
}

.breadcrumbPage ul li.arrow {
  position: relative;
}

.breadcrumbPage ul li.arrow:before {
  position: absolute;
  top: 50%;
  left: -20px;
  display: block;
  content: '';
  height: 8px;
  width: 8px;
  border: 1px solid #888;
  border-left-width: 0;
  border-top-width: 0;
  -webkit-transform: translate(0, -50%) rotate(-45deg);
  -ms-transform: translate(0, -50%) rotate(-45deg);
  transform: translate(0, -50%) rotate(-45deg);
}

#main {
  /* CONTENT TOP PAGE */
  /*OPACITY*/
  /*TRANSITION*/
  /*TRANSFORM*/
  /*FLEXBOX*/
  /*BORDER RADIUS*/
  /*BOX SHADOW*/
  /*BOX SIZING*/
  /*FILTER*/
  /* BREAKPOINT */
  /* CUSTOM VARIABLE */
  /* BASE VARIABLE */
  /* FONT-FAMILY */
  /* PLEASE INCLUDE IN CSS OR HTML FROM GOOGLE FONT */
  /* Quicksand */
  /* gotham */
  /* FONT SIZE */
  /* PLEASE SET ALL FONT-SIZE WITH PERCENT 
   EXCEPT FONT-SIZE WITHOUT ACTION CHANGE FONT-SIZE
   EXAMPLE : [ font-size: pxtopercent(16); ] 
*/
  /*ERROR PAGE*/
  /*OPACITY*/
  /*TRANSITION*/
  /*TRANSFORM*/
  /*FLEXBOX*/
  /*BORDER RADIUS*/
  /*BOX SHADOW*/
  /*BOX SIZING*/
  /*FILTER*/
  /* BREAKPOINT */
  /* CUSTOM VARIABLE */
  /* BASE VARIABLE */
  /* FONT-FAMILY */
  /* PLEASE INCLUDE IN CSS OR HTML FROM GOOGLE FONT */
  /* Quicksand */
  /* gotham */
  /* FONT SIZE */
  /* PLEASE SET ALL FONT-SIZE WITH PERCENT 
   EXCEPT FONT-SIZE WITHOUT ACTION CHANGE FONT-SIZE
   EXAMPLE : [ font-size: pxtopercent(16); ] 
*/
  /*CONTENT COMINGSOON PAGE*/
  /*OPACITY*/
  /*TRANSITION*/
  /*TRANSFORM*/
  /*FLEXBOX*/
  /*BORDER RADIUS*/
  /*BOX SHADOW*/
  /*BOX SIZING*/
  /*FILTER*/
  /* BREAKPOINT */
  /* CUSTOM VARIABLE */
  /* BASE VARIABLE */
  /* FONT-FAMILY */
  /* PLEASE INCLUDE IN CSS OR HTML FROM GOOGLE FONT */
  /* Quicksand */
  /* gotham */
  /* FONT SIZE */
  /* PLEASE SET ALL FONT-SIZE WITH PERCENT 
   EXCEPT FONT-SIZE WITHOUT ACTION CHANGE FONT-SIZE
   EXAMPLE : [ font-size: pxtopercent(16); ] 
*/
}

@font-face {
  #main {
    src: local("Gotham Bold"), url("../font/GothamBold.ttf") format("ttf");
    font-family: 'Gotham Bold';
  }
}

@font-face {
  #main {
    src: local("Gotham Bold"), url("../font/GothamBold.ttf") format("ttf");
    font-family: 'Gotham Bold';
  }
}

#main.error404 .firstRow .inner {
  text-align: center;
}

#main.error404 .firstRow .inner h2 {
  font-size: 1562.5%;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  #main.error404 .firstRow .inner h2 {
    font-size: 625%;
    margin-bottom: 30px;
  }
}

#main.error404 .firstRow .inner p {
  font-size: 112.5%;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  #main.error404 .firstRow .inner p {
    font-size: 100%;
  }
}

@font-face {
  #main {
    src: local("Gotham Bold"), url("../font/GothamBold.ttf") format("ttf");
    font-family: 'Gotham Bold';
  }
}

#main.comingsoon .firstRow .inner {
  text-align: center;
}

#main.comingsoon .firstRow .inner h2 {
  font-size: 1562.5%;
  margin-bottom: 50px;
}

@media screen and (max-width: 767px) {
  #main.comingsoon .firstRow .inner h2 {
    font-size: 625%;
    margin-bottom: 30px;
  }
}

#main.comingsoon .firstRow .inner p {
  font-size: 112.5%;
  letter-spacing: 2px;
}

@media screen and (max-width: 767px) {
  #main.comingsoon .firstRow .inner p {
    font-size: 100%;
  }
}

/*# sourceMappingURL=style.css.map */