@charset "utf-8";

/* CUSTOM VARIABLE */
$primary: #000000;
$secondary: #555555;
$third: #808080;
$link: #3f7ac0;
$title: #6c5025;
$button: #362e2f;
$buttonHover: #362e2f;
$border: #cdcdcd;

/* BASE VARIABLE */
$white: #FFFFFF;
$black: #000000;
$red: #D2002D;
$blue: #1976D2;
$green: green;
$pink: pink;
$orange: orange;
$grey: grey;
$purple: purple;

